# VS Code history
.history/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Dependencies
node_modules/

# Zip files
*.zip
